/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
}
.text-light-gry{
    color: #727272;
}

/* HEADER SECTION */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}
nav>ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner section */

.banner-container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
#center{
    width: auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
 
.btn-primary{
    color: #FFF;
    border-radius: 8px;
    font-size: 18px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
    margin-bottom: 50px
}
.banner img{
    width: 100%;
}

/* main style */

main{
    max-width: 1440px;
    margin: 70px auto;
    padding: 0 250px;
}

/* team style */
.team-container {
    display: flex;
    align-items: center;
    /* margin-left: 70px;
    margin-right: 70px; */
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    
} 
.team-contant{
    margin: 76px;
}
.team-title{
    color:#727272;
    font-size: 35px;
    font-weight: 500px;
    margin-bottom: 15px;
}
.black{
    color: #131313;
    font-weight: 700px;
}
.tomato{
    color: #FF900E;
    font-weight: 700;
}
.text-light-gry{
    font-weight: 400px;
    font-size: 10px;
  
    width:300px;
    margin-bottom: 32px;
}
/* fact section */
.fact-h3{
    color: #131313;
    font-weight: 700px;
    font-size: 24px;
}
.face-card-container {
    display: flex;
    justify-content: space-around;
}
.face-card-container .card{
    border-radius: 8px;
    border: 1px solid  #FF900E;
    text-align: center;
}
.card-details{
    font-size: 10px;
}
/* media query style */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
         
    }
    
}
/* mediun device style */

@media screen and (min-width: 576px) and (max-width: 960px) {
   nav, .team-container{
    flex-direction: column;
    }
    header{
        padding: 50px;
    }
    
}